<h1>Welcome to Bond Price Watcher!</h1>
<div class="control-panel">
  <h3>Set refresh rate in minutes:</h3>
  <mat-form-field class="price-refresh-interal" appearance="fill">
    <mat-label>Refresh Interval</mat-label>
    <input matInput type="number" [(ngModel)]="refreshIntervalInMinutes" (change)="setInterval()">
  </mat-form-field>
  <h3>Configure alert if needed:</h3>
  <div>
    <mat-form-field appearance="fill">
      <mat-label>Select Bond</mat-label>
      <mat-select [(ngModel)]="bondAlertName" name="food">
        <mat-option *ngFor="let bondName of bondNames" [value]="bondName">
          {{bondName}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Bond Alert Price</mat-label>
      <input matInput type="number" [(ngModel)]="bondAlertPrice">
    </mat-form-field>
    <button *ngIf="!alertIsSet" mat-raised-button color="primary" (click)="setAlert()"
      [disabled]="bondAlertPrice == 0 || bondAlertName === ''">Set Alert</button>
    <button *ngIf="alertIsSet" mat-raised-button color="primary" (click)="unsetAlert()">Unset Alert</button>
  </div>
  <h3>Download bond data once looking good:</h3>
  <div>
    <button mat-raised-button color="primary" (click)="downloadBondData()">Download Bonds Data</button>
  </div>
</div>
<div class="bond-chart">
  <ngx-charts-line-chart [legend]="true" legendTitle="Bonds" [legendPosition]="legendPosition" [showXAxisLabel]="true"
    [showYAxisLabel]="true" [xAxis]="true" [yAxis]="true" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel"
    [timeline]="true" [results]="data" (select)="onSelect($event)" (activate)="onActivate($event)"
    (deactivate)="onDeactivate($event)" [yScaleMin]="80" [animations]="true" [autoScale]="true">
  </ngx-charts-line-chart>
</div>
